// COLORS
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-darkest: #333;
$color-grey-dark: #777;
$color-grey: #999;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT SIZE
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// SHADOW
$shadow-far: 0 1.5rem 4rem rgba($color-black, .1);
$shadow-normal: 0 1.5rem 3rem rgba($color-black, .2);
$shadow-close: 0 .5rem 2rem rgba($color-black, .3);
$shadow-closer: 0 .25rem 1rem rgba($color-black, .4);

// SHAPES
$circle: circle(50% at 50% 50%);

// MISC
$defaut-border-radius: 3px;

// BAZIERS
$go-over: cubic-bezier(.45,1,.74,1.3)