.btn {

   &,
   &:link,
   &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      transition-property: transform, box-shadow;
      transition-duration: .1s;
      transition-timing-function: ease-out;
      border-radius: 4rem;
      position: relative;
      font-size: 2rem;
      box-shadow: $shadow-close;
      white-space: nowrap;
      // Change the <button> element
      border: none;
      cursor: pointer;
      // backface-visibility: hidden;

      &::after {
         content: "";
         display: inline-block;
         height: 100%;
         width: 100%;
         border-radius: 4rem;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         transition-property: transform, opacity;
         transition-duration: 0s;
         transition-timing-function: ease-out;
      }

      &:hover {
         &::after {
            transform: scale(1.5, 1.8);
            opacity: 0;
            transition-duration: .4s;
            transition-timing-function: ease-out;
         }
      }
   }

   &:hover {
      transform: translateY(-.2rem);
      box-shadow: $shadow-normal;
   }


   &:active {
      transform: translateY(-.1rem);
      box-shadow: $shadow-closer;
   }

   &:focus {
      outline: none
   }

   &--white {
      background-color: $color-white;
      color: $color-grey-dark;

      &::after {
         background-color: $color-white;
      }
   }

   &--green {
      background-color: $color-primary;
      color: $color-white;

      &::after {
         background-color: $color-primary;
      }
   }

   &--animated {
      animation: moveFromBottom .5s ease-out 1.5s;
      animation-fill-mode: backwards;
   }
}

.btn-text {

   &:link,
   &:visited {
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      font-size: $default-font-size;
      padding: 3px;
      transition-property: transform box-shadow;
      transition-duration: .3s;
      transition-timing-function: ease-out;
   }

   &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: $shadow-close;
      transform: translateY(-2px);
   }

   &:active {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: $shadow-closer;
   }
}