.story {
   width: 75%;
   margin: 0 auto;
   box-shadow: 0 3rem 6rem rgba($color-black, .1);
   background-color: rgba($color-white, .6);
   border-radius: $defaut-border-radius;
   padding: 6rem;
   padding-left: 9rem;
   font-size: $default-font-size;
   transform: skewX(-12deg);

   @include respond(tab-port) {
      transform: skewX(0deg);
      width: 100%;
      padding: 3rem;
      padding-left: 3rem;
      text-align: center;
   }

   position: relative;

   &__shape {
      float: left;
      background-color: steelblue;
      overflow: hidden;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;

      @supports(clip-path: $circle) or (-webkit-clip-path: $circle) {
         shape-outside: $circle;
         -webkit-shape-outside: $circle;
         clip-path: $circle;
         -webkit-clip-path: $circle;
         border-radius: none;
      }

      transform: translateX(-2rem) skewX(12deg);

      @include respond(tab-port) {
         transform: translateX(0rem) skewX(0deg);
         float: none;
         margin: 0 auto;
         margin-bottom: 2rem;
      }

      margin-top: -2rem;
   }

   &__image {
      height: 100%;
      transform: translateX(-15%) scale(1.4);
      transition-property: transform filter;
      transition-duration: .5s;
   }

   &__text {
      transform: skewX(12deg);

      @include respond(tab-port) {
         transform: skewX(0deg);
      }
   }

   &__caption {
      @include centered;
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      backface-visibility: hidden;
      margin-top: 5rem;
      opacity: 0;
      transition-property: margin-top opacity;
      transition-duration: .3s;
      transition-timing-function: ease-out;
   }

   &:hover &__caption {
      opacity: 1;
      margin-top: 0rem;
   }

   &:hover &__image {
      opacity: 1;
      margin-top: 0rem;
      transform: translateX(-15%) scale(1);
      filter: blur(3px) brightness(80%);
   }
}